body{
  margin: 0 auto;
}

.main-block{
  padding: 0px 16px;
  background-image: url(./img/background/background_main.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(15px);
  position: fixed;
  left: 0;
  width: 93%;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.app-title{
  color: #000;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
}

.menu-item, .language-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language-item{
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

h1{
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 37.8px */
  margin-bottom: 8px;
  padding-top: 111px;
}

h1>.green-gradient{
  background: linear-gradient(108deg, #18BC5A 0.94%, #1BD0DC 37.22%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1>.purple-gradient{
  background: linear-gradient(96deg, #FF621F 47.21%, rgba(166, 15, 169, 0.78) 68.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p{
  color: #151515;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main-button{
  border-radius: 14px;
  background: #50D997;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 18px;
  left: 3.5%;
  width: 93%;
}
