body{
  margin: 0 auto;
}

html{
  scroll-behavior:smooth;
}

#main-button{
  opacity: 1;
  transition: opacity 0.5s ease; /* Плавная анимация исчезновения в течение 0.5 секунды */
}
a:hover{
  text-decoration: none;
}
.quiz-button + p{
  color: var(--Grey, #92979B);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin-top: 8px;
}

input::placeholder{
  color: var(--Grey, #92979B) !important;
  font-family: Inter !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 140% !important; /* 16.8px */
  text-align: left;
  margin-bottom: 10px;
}

.quiz-button{
  border-radius: 14px;
  background: #50D997;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 18px;
  z-index: 500;
  max-width: 500px;
  width: 100%;
  margin-top: 47px;
  border-radius: 10px;
  background: var(--Accent, #00B467);
}

#main-button{
  border-radius: 10px;
  background: var(--Accent, #00B467);
  color: #fff;
}

.grey{
  background: var(--Grey, #92979B) !important;
}

.input-section>label{
  margin-bottom: 8px;
  color: var(--Black, #2C2D31);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
}
.input-section>input{
  padding: 12px 8px;
  border-radius: 8px;
  background: var(--Bg-block, #E4E9EF);
  border: none;
  color: black;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}
.input-section{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.input-section>span{
  display: none;
  color: var(--Error, #C9324B);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 14px */
}
.input-section.error>label{
  color: var(--Error, #C9324B);
}
.input-section.error>input{
  border: 1px solid #C9324B;
}
.input-section.error>span{
  display: block;
}
.green-text{
  color: var(--Accent, #00B467);
}

.button{
  border-radius: 10px;
  background: var(--Accent, #00B467);
  display: flex;
  height: 60px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.button>div{
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-block{
  padding: 0px 16px;
  background-image: url("@/assets/img/background/back-main.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 11px 0px;
  background: var(--White, #FFF);
  position: fixed;
  left: 0;
  width: 100%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  z-index: 500;
}

.app-title{
  color: #000;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
}

.menu-item, .language-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language-item{
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

h1{
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 37.8px */
  margin-bottom: 8px;
  padding-top: 111px;
}

h1>.green-gradient{
  background: linear-gradient(108deg, #18BC5A 0.94%, #1BD0DC 37.22%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1>.purple-gradient{
  background: linear-gradient(96deg, #FF621F 47.21%, rgba(166, 15, 169, 0.78) 68.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p{
  color: #151515;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main-button{
  border-radius: 14px;
  background: #50D997;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 18px;
  left: 3.5%;
  width: 93%;
  z-index: 500;
  max-width: 500px;
}

.card{
  padding: 16px;
  border-radius: 16px;
  background: #FFF;
  /*box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);*/
  margin-top: 15px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
  max-width: 600px;
  margin-left: auto !important;
  margin-right: auto !important;
}


.green{
  background: #D3FDE9;
}


.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

p{
  margin-bottom: auto;
}

.card-profile{
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  box-shadow: none;
  margin-bottom: 16px;
}

.button, .quiz_header_img, .profile_tabs_item{
  cursor: pointer;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #00B467;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 11px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
    position: absolute;
    bottom: -35px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.content_input_section>.input-group>input{
  border-radius: 8px;
  background: var(--Bg-block, #E4E9EF);
  color: var(--Black, #2C2D31);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  border-right: 0;
}

.input-group-text{
  border-left: 0;
  background-color: #E4E9EF;
  color: var(--Black, #2C2D31);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
}

.v-select{
  border-radius: 8px !important;
  background: var(--Bg-block, #E4E9EF) !important;
  height: 40px !important;
}

.vs__dropdown-toggle{
  height: 100% !important;
  border-radius: 8px !important;
  border: none !important;
}
ul[role='listbox']{
  padding: 0;
}
ul[role='listbox']>li{
  color: var(--Black, #2C2D31);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  background: var(--Bg-block, #E4E9EF) !important;
  border-bottom: 1px solid white;
}

ul[role='listbox']>li>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul[role='listbox']>li>div:last-child{
  color: var(--Black, #2C2D31);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

ul[role='listbox']>li:last-child{
  border-bottom: none;
}

input.p-inputtext.p-component.p-password-input {
    width: 100%;
    padding: 12px 8px;
    border-radius: 8px;
    background: var(--Bg-block, #E4E9EF);
    border: none;
    color: black;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@media screen and (min-width: 700px) {
  h1{
    font-size: 90px !important;
  }
  .main-block>p{
    margin-top: 30px !important;
    font-size: 40px !important;
  }
}
